<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_PedidoUnico" />
                <binding name="BasicHttpBinding_PedidoMultiplo" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:60745/Pedido.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_PedidoUnico" contract="ServiceReference1.PedidoUnico"
                name="BasicHttpBinding_PedidoUnico" />
            <endpoint address="http://localhost:60745/Pedido.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_PedidoMultiplo" contract="ServiceReference1.PedidoMultiplo"
                name="BasicHttpBinding_PedidoMultiplo" />
        </client>
    </system.serviceModel>
</configuration>