<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="GerenciamentoCompras.Pedido">
        <endpoint address="ServicoHttp" binding="basicHttpBinding" contract="GerenciamentoCompras.IPedido_V1"/>
        <endpoint address="mex" kind="mexEndpoint"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:60745/Pedido/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>